@mixin container-d {
  max-width: 1280px;
  min-width: 1024px;
  margin: 0 auto;
  padding-left: calc(#{$main-size * 12});
  padding-right: calc(#{$main-size * 12});
}

@mixin a-reset {
  text-decoration: none;
  color: inherit;
}

@mixin button-reset {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}